<hr>
  <h3><%= link_to "Create New User", new_admin_user_path %></h3>
<hr>
<h1>All Users</h1>
<div><%= paginate @users %></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= formatted_date(user.created_at) %></td>
      <td><%= formatted_date(user.updated_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% @users.each do |user| %>

  <h2><%= link_to user.full_name, admin_user_path(user) %></h2>
  <p>Email: <%= user.email %></p>
  <p>Created at: <%= formatted_date(user.created_at) %> | Updated at: <%= formatted_date(user.updated_at) %></p>
  <h2><%= link_to "Edit", edit_admin_user_path(user.id)%><h2><%= link_to "Delete", admin_user_path(user.id), :method => "delete"%></h2></h2>
<% end %>



